venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

flaskr/files/cases/case_*.txt
!flaskr/files/cases/case_example

flaskr/files/results/*.txt
flaskr/files/src/*.c
