{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ challenge['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div>
        <div class="about">for {{ challenge['score'] }} points</div>
      </div>
    </header>
    <p class="body">{{ challenge['body'] }}</p>
  </article>
  {% if g.user %}
    {% if g.user['id'] == 1 %}
      <a class="action" href="{{ url_for('blog.update', id=challenge['id']) }}">Edit</a>
    {% else %}
      <a class="action" href="{{ url_for('blog.submit', id=challenge['id']) }}">Submit Sourcecode</a>
    {% endif %}
  {% endif %}
{% endblock %}
