{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Ranking{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for user in users %}
    {% if user['id'] != 1 %}
      <article class="rank">
        <header>
          <div>
            <h1>{{ user['username'] }}</h1>
            <div class="">{{ user['score'] }} points</div>
          </div>
      </header>
      <p class="body">{{ user['body'] }}</p>
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock %}
