{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ challenge['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or challenge['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or challenge['body'] }}</textarea>
    <label for="score">Score</label>
    <input name="score" id="score" value="{{ request.form['score'] or challenge['score'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=challenge['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
