<!doctype html>
<title>{% block title %}{% endblock %} - AFF</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>ARGOS Freshman Festival</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }} ( {{ g.user['score'] }} points )</span></li>
	    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a></li></li>
      <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
  </ul>
</nav>
{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="flash {{ category }}">{{ message }}</div>
{% endfor %}
<div>
  <ul>
    <li><a href="{{ url_for('blog.index') }}"> Main </a></li>
    <li><a href="{{ url_for('blog.ranking') }}"> Ranking </a></li>
  </ul>
</div>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
